<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>

<head th:replace="layout :: site-head">
    <title>Welcome to Spring MVC Blog</title>
</head>

<body>

<header th:replace="layout :: site-header"></header>

<main id="posts">
    <article th:each="p : ${allOrders}">
        <h2 class="title" th:text="${p.title}">Post Title</h2>
        <div class="orderedDate">
            <i>Ordered on</i>
            <span th:text="${#dates.format(p.orderedDate, 'dd-MMM-yyyy')}">7-July-2018</span>
            <span th:if="${p.id}" th:remove="tag">
          <i>by</i>
          <!--<span th:text="${p.author.fullName != null ?
                        p.author.fullName : p.author.username}">Mechanic 442</span>-->
        </span>
        </div>
<!--
        <p class="content" th:utext="${p.body}">Post content</p>
-->
    </article>
</main>

<footer th:replace="layout :: site-footer"></footer>

</body>

</html>