<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}"/>
    <script src="../public/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script src="../public/js/scripts.js" th:src="@{/js/scripts.js}"></script>
    <meta th:include="this :: head" th:remove="tag"/>
</head>
<body>
<header th:fragment="site-header">
    <a href="index.html" th:href="@{/}"><img src="../public/img/logo.jpg" th:src="@{/img/logo.jpg}"/></a>
    <a href="index.html" th:href="@{/}">Home</a>
    <a href="users/login.html" th:href="@{/users/login}">Login</a>
    <a href="users/register.html" th:href="@{/users/register}">Register</a>
    <a href="posts/index.html" th:href="@{/posts}">Posts</a>
    <a href="posts/create.html" th:href="@{/posts/create}">Create Post</a>
    <a href="users/index.html" th:href="@{/users}">Users</a>
    <div id="logged-in-info"><span>Hello, <b>(user)</b></span>
        <form method="post" th:action="@{/users/logout}">
            <input type="submit" value="Logout"/>
        </form>
    </div>
</header>
<h1>Welcome</h1>
<p>Welcome to MechSys.</p>
<footer th:fragment="site-footer">
    &copy; Mech System. 2018
</footer>
</body>
</html>